div{
    color: white;
    text-transform:uppercase;
    text-align: center;
}
#welcome{
    font-size: 50px;
    animation:welcome 2s 1;
}
body{
    background-image: url("Background\ Images/1.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    animation: back 50s infinite;
    animation-fill-mode: forwards;
}
@keyframes welcome {
    0%{
        font-size: 25px;
    }50%{
        font-size: 75px;
    }100%{
        font-size: 50px;
    }
}
@keyframes back {
    10%{
        background-image: url("/Background\ Images/1.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
    }20%{
        background-image: url("/Background\ Images/2.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
    }30%{
        background-image: url("/Background\ Images/3.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
    }40%{
        background-image: url("/Background\ Images/4.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
    }50%{
        background-image: url("/Background\ Images/5.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
    }60%{
        background-image: url("/Background\ Images/6.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
    }70%{
        background-image: url("/Background\ Images/7.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
    }80%{
        background-image: url("/Background\ Images/8.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
    }90%{
        background-image: url("/Background\ Images/9.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
    }100%{
        background-image: url("/Background\ Images/10.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
    }
}