div{
    color: black;
    text-transform:uppercase;
    text-align: center;
}
#welcome{
    font-size: 50px;
    animation:welcome 2s 1;
}
body{
    background-image: url("Background/1.jpg"), url("Background/");
    background-size: 100% 100%;
    background-attachment: fixed;
    animation: back 50s infinite;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}
@keyframes welcome {
    0%{
        font-size: 25px;
    }50%{
        font-size: 75px;
    }100%{
        font-size: 50px;
    }
}
@keyframes back {
    0%{
        background-image: url("Background/1.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
    }10%{
        background-image: url("Background/2.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
    }20%{
        background-image: url("Background/3.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
    }30%{
        background-image: url("Background/4.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
    }40%{
        background-image: url("Background/5.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
    }50%{
        background-image: url("Background/6.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
    }60%{
        background-image: url("Background/7.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
    }70%{
        background-image: url("Background/8.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
    }80%{
        background-image: url("Background/9.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
    }90%{
        background-image: url("Background/10.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
    }
}