.welding{
  background-color: #EEEEEE;
}
.car{
  background-color: #787A91;
}
.w{
  width: 50%;
  padding-top: 5%;
  padding-bottom: 5%;
}
#welding-heading{
  padding: 5% 5%;
}
.b{
  padding: 3% 0% 3% 1%;
}
#foot{
  background-color: #EEEEEE;
  padding: 2% ;
}
